<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.primary_accent_color }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- liquid 
    assign body_font = settings.typography_body_font
    assign body_font_bold = body_font | font_modify: 'weight', 'bolder'
    assign body_font_italic = body_font | font_modify: 'style', 'italic'
    assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'

    assign headings_font = settings.typography_headings_font
    if settings.typography_headings_bold
      assign headings_font_bold = headings_font | font_modify: 'weight', 'bolder'
    endif

    assign navigation_font = settings.typography_navigation_font
    assign navigation_font_bold = navigation_font | font_modify: 'weight', 'bolder'
  -%}

  <link rel="preload" href="{{ 'theme.scss.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ body_font | font_url }}" type="font/woff2" crossorigin>
  {%- if body_font_bold -%}
    <link rel="preload" as="font" href="{{ body_font_bold | font_url }}" type="font/woff2" crossorigin>
  {%- endif -%}
  <link rel="preload" as="font" href="{{ headings_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ navigation_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'vendor.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">

  <style>
    {{ body_font | font_face: font_display: 'swap' }}
    {%- if body_font_bold -%}
      {{ body_font_bold | font_face: font_display: 'swap' }}
    {%- endif -%}
    {%- if body_font_italic -%}
      {{ body_font_italic | font_face: font_display: 'swap' }}
    {%- endif -%}
    {%- if body_font_bold_italic -%}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {%- endif -%}

    {{ headings_font | font_face: font_display: 'swap' }}
    {%- if headings_font_bold %}
      {{ headings_font_bold | font_face: font_display: 'swap' }}
    {%- endif -%}

    {{ navigation_font | font_face: font_display: 'swap' }}
    {%- if navigation_font_bold -%}
      {{ navigation_font_bold | font_face: font_display: 'swap' }}
    {%- endif -%}
  </style>


  {%- if settings.favicon != blank -%}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16' }}">
  <link rel="mask-icon" color="{{ settings.primary_accent_color }}">
  {%- endif -%}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}
  {% include 'css-variables' %}
  {{- 'theme.scss.css' | asset_url | stylesheet_tag -}}

  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.loadMode = 1;
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.js' | asset_url }}"></script><![endif]-->

  {%- if template contains 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}

  <script>
    window.StyleHatch = window.StyleHatch || {};
    {% include 'js-language-strings' %}
    StyleHatch.currencyFormat = {{ shop.money_format | json }};
    StyleHatch.ajaxCartEnable = {{ settings.ajax_cart_enable }};
    StyleHatch.cartData = {{ cart | json }};
    StyleHatch.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}',
      product_recommendations_url: '{{ routes.product_recommendations_url }}'
    };
    // Post defer
    window.addEventListener('DOMContentLoaded', function() {
      (function( $ ) {
      {%- comment -%}
        Add JavaScript functionality that relies on jQuery here
        this will allow jQuery to properly load before the calls are made
      {%- endcomment -%}

      {%- if newHash -%}
        $(function() {
          StyleHatch.updateHash('{{ newHash }}');
        });
      {%- endif -%}
      {%- if resetPassword -%}
        $(function() {
          StyleHatch.resetPasswordSuccess();
        });
      {%- endif -%}
      })(jq223);
    });
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-template-directory="{{ template.directory }}" data-template="{{ template.name }}" >

  <div id="page">
    {% section 'promos' %}
    {% include 'header-util' %}
    {% section 'header' %}

    <main class="main-content main-content--breadcrumb-{{ settings.show_breadcrumbs }}" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>
  
  <!-- District v3.10.2 -->
</body>
</html>
